
body {
    background-image: linear-gradient(to left, #ffd89b, #F8F3EC);
    padding-top: 0px;
}

.container.body-content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width:100%;
}

h2 {
    text-align: center;
    margin-bottom: 70px;
}

.portal {
    display: flex;
    width: 65%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 70px;
    /*background-color: #CACACA;*/
}

#izquierda {
    margin-right: 7%;
    margin-left: 5%;
    display: flex;
    width: 15%;
    height: 90vh;
    padding: 1%;
    border-right: solid #1F1C17;
}

.item {
    height: 374px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    border: 3px solid;
    border-color: #1F1C17;
    border-radius: 5px;
    background-color:white;
}

.item:hover {
    background-image: url("https://i.ibb.co/xDHrRhQ/back-celeste.png");
    background-position: center center;
    margin: 0;
}

img {
    width: 100%;
    height: 90%;
}


h2 {
    text-align: center;
}

.nombre {
    display: block;
    height:10%;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    font-style: normal;
    font-family: 'Chelsea Market';
}



#textoizq {
    font-weight: bold;
    font-family: 'Chelsea Market';
}

select {
    font-family: 'Chelsea Market';
}

button {
    margin-top: 20px;
    font-family: 'Chelsea Market';
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #1F1C17;
    border-color: black;
}