
body {
    background-image: linear-gradient(to left, #ffd89b, #F8F3EC);
    padding-top: 0px;
}

.nombre {
    display: flex;
    font-size: 20px;
    font-weight:bold;
    color: black;
    margin-top:1%;
    margin-left:20%;
    font-style: normal;
}

.precio {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: darkred;
    margin-top: 6%;
    float: right;
    margin-right: 20%;
    font-style: normal;
}

.stock {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: darkred;
    margin-top: 6%;
    margin-left: 20%;
    font-style: normal;
    width: 40%;
}

.portal {
    position: relative;
    width: 71%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.2%;
    float: right;
    /*background-color: #CACACA;*/
}

.item {
    border-top: solid #1F1C17;
    padding-top: 1.8%;
    height: 100%;
    width: 100%;
    margin: 1%;
    text-align: center;
    font-size: 15px;
}

.imgacc {
    float: left;
    width: 15%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
}

#izquierda {
    position: relative;
    width: 15%;
    height: 90vh;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    border-right: solid #1F1C17;
}

h2{
    text-align:center;
    margin-bottom:70px;
}

h2 {
    text-align: center;
}

.container.body-content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#textoizq {
    font-weight: bold;
    font-family: 'Chelsea Market';
}

select {
    font-family: 'Chelsea Market';
}
button {
    margin-top: 20px;
    font-family: 'Chelsea Market';
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #1F1C17;
    border-color: black;
}