
@{
    ViewBag.Title = "Aviso";
}

<style>
    body {
        background-image: linear-gradient(to left, #ffd89b, #F8F3EC);
        padding-top: 0px;
    }
</style>

<h2>Aviso</h2>
<h2>@ViewBag.mensaje</h2>

<div>
    @Html.ActionLink("Ir a la Tienda", "ComprarAccesorios")
</div>
