
@{
    ViewBag.Title = "LoginAdmin";
}
<style>
    h2 {
        text-align: center;
    }

    table {
        margin: 0 auto;
        color:white;
    }

    body {
        background-image: linear-gradient(to left, #ffd89b, #F8F3EC);
        padding-top: 0px;
        width: 100%;
        height: 100%;
    }
    .container.body-content {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height:100%;
    }
    html {
        width: 100%;
        height: 100%;
    }
    .general {
        width: 60%;
        height:60%;
        background-color: rgba(0, 0, 0, 0.85);
        margin-inline:20%;
        margin-top:8%;
    }
    .izquierda {
        background-color: rgba(0, 0, 0, 0.25);
        float: left;
        height: 100%;
        width: 50%;
    }
    .derecha {
        float: right;
        width: 50%;
    }

</style>


<div class="general">
    <div class="izquierda">
        <img style="width:80%; height:84%; margin-inline:10%;margin-block:8%;" src="~/Imagenes/petoasis.png">
    </div>
    <div class="derecha">
        <h2 style="font-weight:bold;margin:0;margin-top:10%;color:white;">Login Admin</h2>
        @using (Html.BeginForm())
        {
            <table style="width: 70%;margin-inline: 15%;text-align: center;margin-top: 8%;border-collapse: separate;border-spacing: 0 1em;">
                <tr>
                    <td>Usuario</td>
                    <td>@Html.TextBox("login", "", new { @class = "form-control", @style = "width:80%;" })</td>
                </tr>
                <tr>
                    <td>Clave</td>
                    <td>@Html.TextBox("clave", "", new { @type = "password", @class = "form-control", @style = "width:80%;" })</td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Aceptar" class="btn btn-default" />
                        @Html.ActionLink("Ir al Inicio", "Adoptar", null, new { @class = "btn btn-default",@style="margin-left:4%;" })
                    </td>
                </tr>
            </table>
        }
    </div>
    </div>
    <div>
        @ViewBag.mensaje
    </div>
