
@{
    ViewBag.Title = "Nosotros";
}
<style>
    body {
        background-image: linear-gradient(to left, #ffd89b, #F8F3EC);
        padding-top: 0px;
        width: 100%;
        height: 100%;
    }
    html {
        height: 100%;
    }
    .container.body-content {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height:100%;
    }
    .general {
        width: 100%;
        height: 100%;
    }
    .part1 {
        width: 100%;
        height: 50%;
    }

    .part2 {
        width: 100%;
        height: 50%;
    }
    .part3 {
        width: 100%;
        height: 50%;
    }
    .derecha {
        padding: 2%;
        width: 50%;
        float: right;
    }
    .izquierda {
        padding:2%;
        width: 50%;
        float: left;
    }
    h1 {
        color:darkblue;
        margin-bottom:5%;
    }
    h3{
        font-size:20px;
    }

</style>
<div class="general">
    <div class="part1">
        <div class="derecha">
            <h1>¿Quienes somos?</h1>
            <h3>Somos un albergue de animales que se ubica en Lima que desea dar hogar y una vida digna a los animales
                que han sido rescatados de las calles.</h3>
        </div>
        <img style="width:50%; height:100%;" src="~/Imagenes/nosotros2.jpg">
    </div>

    <div class="part2">
        <div class="izquierda">
            <h1>Visión</h1>
            <h3>Ser un albergue integral en Lima, modelo a seguir y  así poder
            replicarse en todos los departamentos. Proporcionando rescate, cuidados, 
            rehabilitación e información que contribuya a una sociedad en armonía con sus animales.</h3>
        </div>
        <img style="width:50%; height:100%;float:right;" src="~/Imagenes/nosotros3.jpg">
    </div>

    <div class="part3">
        <div class="derecha">
            <h1>Misión</h1>
            <h3>El Rescate, rehabilitación y adopción de mascotas, así como 
            contribuir con información que ayude a la construcción de una sociedad con más educación, 
            consciencia y respeto para los animales.</h3>
        </div>
        <img style="width:50%; height:100%;" src="~/Imagenes/nosotros1.jpg">
    </div>
</div>
